Repository Lisbon-dev/lucinda-portfolio, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, documentation, dependencies, component, page, script, asset, test, configuration

.github/labeler.yml:

# Label for CI/CD workflow changes
'CI/CD':
  - '.github/workflows/**'

# Label for documentation changes
documentation:
  - 'README.md'
  - 'src/pages/faq.astro'
  - 'src/pages/cookies-policy.astro'
  - 'src/pages/privacy-policy.astro'
  - 'src/pages/terms-and-conditions.astro'

# Label for dependency updates
dependencies:
  - 'package.json'
  - 'pnpm-lock.yaml'

# Label for component changes
component:
  - 'src/components/**'

# Label for page changes
page:
  - 'src/pages/**'

# Label for script changes
script:
  - 'src/scripts/**'

# Label for asset changes (images, videos, etc.)
asset:
  - 'public/**'
  - 'src/assets/**'

# Label for test-related changes
test:
  - 'playwright.config.ts'
  - 'tests/**'
  - 'tests-examples/**'

# Label for configuration changes
configuration:
  - '.gitignore'
  - 'astro.config.mjs'
  - 'tsconfig.json'
  - 'vercel.json'
  - '.vscode/**'

fix: Clean up error message container in FormField component and ensure proper styling
  src/components/forms/FormField.astro
Labels: component

fix: Remove scale transformation on nav-arrow hover for improved accessibility
  src/pages/projects/[slug].astro
Labels: page

feat: Enhance ContactDialog and ContactForm styles for improved mobile responsiveness and layout
  src/components/dialog/ContactDialog.astro
  src/components/dialog/SimpleDialog.astro
  src/components/forms/ContactForm.astro
Labels: component

feat: Update page title for improved SEO and branding clarity
  src/layout/Layout.astro
Labels: none

feat: Implement comprehensive SEO system with meta tags, structured data, and technical SEO
  public/robots.txt
  src/content/config.ts
  src/layout/Layout.astro
  src/pages/index.astro
  src/pages/projects/[slug].astro
  src/pages/sitemap.xml.ts
Labels: page, asset

fix: Handle Astro image objects in SEO meta tag generation
  src/layout/Layout.astro
  src/pages/projects/[slug].astro
Labels: page

feat: Add new portfolio images and project details for Battersea Power Station
  src/assets/portfolio/pessac/The thoroughly underrated Pessac-Léognan Spread 2.png
  src/assets/portfolio/shadowofadoubt/Shadow of a Doubt DP spread 2.png
  src/assets/portfolio/spectator/The Spectator - Naomi & Kate 2.png
  src/assets/portfolio/sufferlittlechildren/Suffer little children 1st page spread 2.png
  src/assets/portfolio/sufferlittlechildren/Suffer little children 2nd page 6.png
  src/content/projects/battersea.md
Labels: asset

feat: add new project markdown files for portfolio illustrations
  src/content/projects/battersea-power-station.md
  src/content/projects/beautiful-and-damned.md
  src/content/projects/born-exile.md
  src/content/projects/federica-and-co.md
  src/content/projects/hamptons-collection.md
  src/content/projects/jazz-genius-cut-short.md
  src/content/projects/pascal-huser-design-build.md
  src/content/projects/pessac-leognan.md
  src/content/projects/spectator-kate-naomi.md
Labels: none

fix: consolidate Battersea Power Station project file and remove redundant copy
  src/content/projects/battersea.md
Labels: none

refactor: Remove duplicate images and update project image paths
  src/content/projects/battersea-power-station.md
  src/content/projects/beautiful-and-damned.md
  src/content/projects/bimini-magazine.md
  src/content/projects/books-into-the-wild.md
  src/content/projects/born-exile.md
  src/content/projects/federica-and-co.md
  src/content/projects/hamptons-collection.md
  src/content/projects/history-repeating.md
  src/content/projects/jazz-genius-cut-short.md
  src/content/projects/pascal-huser-design-build.md
  src/content/projects/pessac-leognan.md
  src/content/projects/shadow-of-doubt.md
  src/content/projects/spectator-kate-naomi.md
  src/content/projects/suffer-little-children.md
Labels: none

refactor: remove unused portfolio images and delete Battersea project markdown file
  src/assets/portfolio/Suffer little children 1st page spread.png
  src/assets/portfolio/Suffer little children 2nd page.png
  src/assets/portfolio/carlowrie/Carlowrie 3.jpg
  src/assets/portfolio/carlowrie/Carlowrie 4.jpg
  src/assets/portfolio/carlowrie/Carlowrie 5.jpg
  src/content/projects/battersea.md
Labels: asset

feat: implement three-level sorting with order property in MasonryGrid
  src/components/portfolio/MasonryGrid.astro
Labels: component

feat: add optional `order` field to projects content schema
  src/content/config.ts
Labels: none

refactor: unify masonry grid item animation with consistent scroll-triggered reveal
  src/components/portfolio/MasonryGrid.astro
Labels: component

refactor: update project sorting logic in MasonryGrid to use order and date
  src/components/portfolio/MasonryGrid.astro
Labels: component

feat: add Brew Dog and Carlowrie Castle project content files
  src/content/projects/brew-dog.md
  src/content/projects/carlowrie-castle.md
Labels: none

docs: add portfolio projects markdown file
  src/assets/portfolio/projects.md
Labels: asset

refactor: remove hardcoded image width calculations from project page styles
  src/pages/projects/[slug].astro
Labels: page

feat: update project metadata with order, titles, and categories
  src/content/projects/battersea-power-station.md
  src/content/projects/beautiful-and-damned.md
  src/content/projects/born-exile.md
  src/content/projects/federica-and-co.md
  src/content/projects/hamptons-collection.md
  src/content/projects/history-repeating.md
  src/content/projects/jazz-genius-cut-short.md
  src/content/projects/pascal-huser-design-build.md
  src/content/projects/pessac-leognan.md
  src/content/projects/shadow-of-doubt.md
  src/content/projects/spectator-kate-naomi.md
  src/content/projects/suffer-little-children.md
Labels: none

refactor: remove debug console logs from MasonryGrid sorting logic
  src/components/portfolio/MasonryGrid.astro
Labels: component

feat: add debug logging for project sorting in MasonryGrid
  src/components/portfolio/MasonryGrid.astro
Labels: component

refactor: update project metadata and remove deprecated files
  removed/bimini-magazine.md
  removed/books-into-the-wild.md
  src/content/projects/bimini-magazine.md
  src/content/projects/books-into-the-wild.md
  src/content/projects/brew-dog.md
  src/content/projects/carlowrie-castle.md
  src/content/projects/federica-and-co.md
  src/content/projects/suffer-little-children.md
  src/pages/projects/[slug].astro
Labels: page

feat: add new portfolio images and video assets; update footer branding
  .gitignore
  src/assets/portfolio/motcombs/Motcombs, Mayfair London 2.png
  src/assets/portfolio/motcombs/Motcombs, Mayfair London 3.png
  src/assets/portfolio/motcombs/Motcombs, Mayfair London 4.png
  src/assets/portfolio/whotel/W Hotel 6.png
  src/assets/portfolio/whotel/W Hotel 7.png
  src/assets/portfolio/whotel/W hotel 1.png
  src/assets/portfolio/whotel/Whotel 8.png
  src/assets/portfolio/wsculpture/1 - W Hotel Sculpture 1.png
  src/assets/portfolio/wsculpture/3 - W Hotel Sculpture.png
  src/assets/portfolio/wsculpture/4 - W Hotel Sculpture 2 with W.png
  src/assets/portfolio/wsculpture/5 - W Hotel Sculpture 2.png
  src/assets/portfolio/wsculpture/6 - W Hotel Sculpture 3.png
  src/components/layout/Footer.astro
Labels: component, asset, configuration

refactor: improve image loading and progress tracking in MasonryGrid and LoadingOverlay
  .gitignore
  src/components/portfolio/MasonryGrid.astro
  src/components/ui/LoadingOverlay.astro
Labels: component, configuration

feat: add Paris Renato portfolio image
  src/assets/portfolio/paris/Paris Renato.png
Labels: asset

feat: add new project markdown files for W Hotel Paris, Motcombs London, and Place Kings Road Exhibition
  src/content/projects/motcombs-london.md
  src/content/projects/w-hotel-paris-brand.md
Labels: none

feat: Add W Hotel Paris sculpture and Place Kings Road Exhibition projects
  src/content/projects/place-kings-road-exhibition.md
  src/content/projects/w-hotel-paris-sculpture.md
Labels: none

refactor: Update image order and main image in Suffer Little Children project
  src/content/projects/suffer-little-children.md
Labels: none

feat: add sculpture video assets for whotel portfolio
  src/assets/portfolio/whotel/FINAL SCULPTURE VIDEO-poster.png
Labels: asset

feat: add optimized video support for W Hotel Paris project
  src/components/ui/OptimizedVideo.astro
  src/content/config.ts
  src/content/projects/w-hotel-paris-brand.md
  src/pages/projects/[slug].astro
Labels: component, page

style: Update footer logo styling and remove redundant project image
  src/components/layout/Footer.astro
  src/content/projects/w-hotel-paris-brand.md
Labels: component

I'll generate a concise commit message for these changes:
  src/components/forms/ContactForm.astro
  src/components/forms/FormValidation.ts
  src/components/layout/Footer.astro
  src/pages/privacy.astro
  src/pages/terms.astro
Labels: component, page

feat: add support for semantic heading variants in Typography component
  src/components/core/Typography.astro
Labels: component

refactor: Improve privacy consent checkbox with floating error tooltip
  src/components/forms/ContactForm.astro
Labels: component

style: adjust privacy consent error tooltip positioning and color
  src/components/forms/ContactForm.astro
Labels: component

I'll generate a concise commit message for these changes:
  src/components/forms/ContactForm.astro
  src/components/forms/FormField.astro
Labels: component

style: center form field error tooltips above label with downward arrow
  src/components/forms/FormField.astro
Labels: component

style: remove visual focus indicators while maintaining WCAG accessibility
  src/components/forms/ContactForm.astro
  src/components/forms/FormField.astro
  src/components/layout/Footer.astro
Labels: component

chore: remove unused video files from whotel portfolio
  src/assets/portfolio/whotel/FINAL SCULPTURE VIDEO-poster.png
Labels: asset

feat: add W Hotel and Sculpture portfolio media assets
  src/assets/portfolio/whotel/W HOTEL PRESENTATION-poster.jpg
  src/assets/portfolio/wsculpture/FINAL SCULPTURE VIDEO-poster.png
Labels: asset
