Repository Lisbon-dev/lucinda-portfolio, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, documentation, dependencies, component, page, script, asset, test, configuration

.github/labeler.yml:

# Label for CI/CD workflow changes
'CI/CD':
  - '.github/workflows/**'

# Label for documentation changes
documentation:
  - 'README.md'
  - 'src/pages/faq.astro'
  - 'src/pages/cookies-policy.astro'
  - 'src/pages/privacy-policy.astro'
  - 'src/pages/terms-and-conditions.astro'

# Label for dependency updates
dependencies:
  - 'package.json'
  - 'pnpm-lock.yaml'

# Label for component changes
component:
  - 'src/components/**'

# Label for page changes
page:
  - 'src/pages/**'

# Label for script changes
script:
  - 'src/scripts/**'

# Label for asset changes (images, videos, etc.)
asset:
  - 'public/**'
  - 'src/assets/**'

# Label for test-related changes
test:
  - 'playwright.config.ts'
  - 'tests/**'
  - 'tests-examples/**'

# Label for configuration changes
configuration:
  - '.gitignore'
  - 'astro.config.mjs'
  - 'tsconfig.json'
  - 'vercel.json'
  - '.vscode/**'

style: remove focus outlines from interactive elements
  src/layout/Layout.astro
Labels: none

style: change dialog content default alignment to top
  src/components/dialog/SimpleDialog.astro
Labels: component

refactor: Remove focus styles and debugging console logs
  src/components/forms/ContactForm.astro
  src/components/forms/FormField.astro
  src/components/layout/Footer.astro
  src/components/layout/Header.astro
  src/components/layout/Navigation.astro
  src/components/layout/SocialLinks.astro
  src/components/portfolio/MasonryGrid.astro
  src/components/ui/LoadingOverlay.astro
  src/components/ui/OptimizedVideo.astro
  src/scripts/masonryAnimations.js
Labels: component, script

style: Remove outline on focus from close button
  src/components/dialog/SimpleDialog.astro
Labels: component

style: Scale --text-sub-header to 16pt equivalent pixel values
  src/layout/Layout.astro
Labels: none

fix: Only show video overlay on hover for devices that support it
  src/components/ui/OptimizedVideo.astro
Labels: component

fix: Update contact email address and project page styling
  src/components/dialog/AboutDialog.astro
  src/pages/api/contact.ts
  src/pages/privacy.astro
  src/pages/projects/[slug].astro
  src/pages/terms.astro
Labels: component, page

feat: Improve dialog scrolling and prevent background scroll
  src/components/dialog/SimpleDialog.astro
Labels: component

style: Reduce padding above project navigation dots
  src/pages/projects/[slug].astro
Labels: page

feat: Update README with comprehensive client guide and add new contact form option
  README.md
  src/components/dialog/AboutDialog.astro
  src/components/forms/ContactForm.astro
Labels: documentation, component

Update contact email for developer support
  README.md
Labels: documentation

fix: Stabilize landing-page load — font CLS + single hero entrance
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/components/ui/HeaderAnimation.astro
  src/layout/Layout.astro
  src/pages/index.astro
  tests/landing-cls.spec.ts
Labels: dependencies, component, page, test, configuration

feat: Add Keystatic Git-based CMS for projects + about/site content
  .gitignore
  README.md
  astro.config.mjs
  documentation/CMS-guide.md
  keystatic.config.ts
  package.json
  pnpm-lock.yaml
  src/components/dialog/AboutDialog.astro
  src/content/projects/w-hotel-paris-brand.md
  src/data/about/index.yaml
  src/data/site-settings/index.yaml
  src/pages/index.astro
Labels: documentation, dependencies, component, page, configuration

fix: Smooth page transitions — ClientRouter, Lenis lifecycle, masonry selector
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/layout/Layout.astro
  src/pages/index.astro
  src/pages/projects/[slug].astro
  src/scripts/masonryAnimations.js
  tests/transitions.spec.ts
Labels: dependencies, page, script, test, configuration

fix: Re-init dialog & contact-form scripts on astro:page-load
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/components/dialog/SimpleDialog.astro
  src/components/forms/ContactForm.astro
  src/components/forms/FormMessage.astro
  tests/modal-after-nav.spec.ts
Labels: dependencies, component, test, configuration

Update [slug].astro
  src/pages/projects/[slug].astro
Labels: page

fix: Remove duplicate devDependencies key, sync lockfile
  package.json
  pnpm-lock.yaml
Labels: dependencies
