Repository Lisbon-dev/lucinda-portfolio, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, documentation, dependencies, component, page, script, asset, test, configuration

feat: Implement CSS custom properties and layout container system
  src/layout/Layout.astro
Labels: none

feat: Implement wireframed layout in index.astro with design system integration
  src/pages/index.astro
Labels: page

feat: Complete development environment setup and project foundation
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/favicon.svg
  tsconfig.json
Labels: dependencies, asset, configuration

feat: Implement comprehensive component library with sophisticated architecture
  src/components/core/BaseSection.astro
  src/components/core/Container.astro
  src/components/core/Typography.astro
  src/components/layout/Navigation.astro
  src/components/layout/SocialLinks.astro
  src/components/portfolio/PortfolioGrid.astro
  src/components/ui/Button.astro
  src/pages/index.astro
Labels: component, page

feat: Add comprehensive wireframing placeholders with visual borders
  src/pages/index.astro
Labels: page

feat: Implement minimalist header and clean landing page layout for US-003
  src/components/core/Typography.astro
  src/components/layout/Header.astro
  src/pages/index.astro
Labels: component, page

feat: Implement responsive masonry grid with Macy.js for Task #23
  public/portfolio/Suffer little children 1st page spread.png
  public/portfolio/Suffer little children 2nd page.png
  src/components/portfolio/MasonryGrid.astro
  src/lib/portfolio-data.ts
  src/pages/index.astro
Labels: component, page, asset

feat: Upgrade masonry grid to use Astro content collections and Image component
  src/components/portfolio/MasonryGrid.astro
  src/content/config.ts
  src/content/projects/bimini-magazine.md
  src/content/projects/books-into-the-wild.md
  src/content/projects/history-repeating.md
  src/content/projects/shadow-of-doubt.md
  src/content/projects/suffer-little-children.md
  src/layout/Layout.astro
  src/lib/portfolio-data.ts
  src/pages/index.astro
Labels: component, page

fix: Resolve masonry grid initialization timing and visual bugs
  .gitignore
  src/components/portfolio/MasonryGrid.astro
  src/pages/index.astro
Labels: component, page, configuration

feat: Optimize hero section performance with advanced font loading and Core Web Vitals monitoring
  src/layout/Layout.astro
  src/pages/index.astro
Labels: page

feat: Add Sharp dependency for Astro image optimization
  package.json
  pnpm-lock.yaml
Labels: dependencies

feat: Update content collection schema to use Astro image() helper
  src/content/config.ts
Labels: none

feat: Move portfolio images from public to src/assets for optimization
  src/assets/portfolio/Suffer little children 1st page spread.png
  src/assets/portfolio/Suffer little children 2nd page.png
  src/content/projects/bimini-magazine.md
  src/content/projects/books-into-the-wild.md
  src/content/projects/history-repeating.md
  src/content/projects/shadow-of-doubt.md
  src/content/projects/suffer-little-children.md
Labels: asset

fix: Implement proper Astro Image component usage in MasonryGrid
  src/components/portfolio/MasonryGrid.astro
Labels: component

feat: Implement dynamic project detail pages with navigation
  src/components/portfolio/MasonryGrid.astro
  src/content/projects/bimini-magazine.md
  src/content/projects/books-into-the-wild.md
  src/content/projects/history-repeating.md
  src/content/projects/shadow-of-doubt.md
  src/content/projects/suffer-little-children.md
  src/pages/projects/[slug].astro
Labels: component, page

refactor: Refine design system and simplify project page layout
  src/components/core/Typography.astro
  src/components/layout/Header.astro
  src/components/ui/Button.astro
  src/layout/Layout.astro
  src/pages/projects/[slug].astro
Labels: component, page

feat: Add Resend email package for contact form integration
  package.json
  pnpm-lock.yaml
Labels: dependencies

feat: Implement WCAG 2.1 AA compliant modal manager with focus trapping
  src/scripts/modal-manager.js
Labels: script

feat: Create reusable Modal component with accessibility features
  src/components/modal/Modal.astro
Labels: component

feat: Implement comprehensive form validation system with real-time feedback
  src/components/forms/ContactForm.astro
  src/components/forms/FormField.astro
  src/components/forms/FormMessage.astro
  src/components/forms/FormValidation.ts
Labels: component

feat: Create serverless contact API with Resend email integration
  src/pages/api/contact.ts
Labels: page

feat: Implement About and Contact modals with modal switching capability
  src/components/modal/AboutModal.astro
  src/components/modal/ContactModal.astro
  src/components/modal/ModalTrigger.astro
Labels: component

feat: Integrate modal system into navigation with enhanced accessibility
  src/components/layout/Header.astro
Labels: component

fix: Enhance modal system accessibility and interaction reliability
  src/components/layout/Header.astro
  src/components/modal/AboutModal.astro
  src/scripts/modal-manager.js
Labels: component, script

fix: Simplify and improve modal focus management for better accessibility
  src/scripts/modal-manager.js
Labels: script

fix: Debug and improve modal focus management with better timing and logging
  src/components/modal/Modal.astro
  src/scripts/modal-manager.js
Labels: component, script

feat: Simplify modal system with native HTML dialog elements
  src/components/dialog/AboutDialog.astro
  src/components/dialog/ContactDialog.astro
  src/components/dialog/SimpleDialog.astro
  src/components/layout/Header.astro
  src/components/modal/AboutModal.astro
  src/components/modal/ContactModal.astro
  src/components/modal/Modal.astro
  src/components/modal/ModalTrigger.astro
  src/pages/index.astro
  src/pages/projects/[slug].astro
  src/scripts/modal-manager.js
Labels: component, page, script

feat: Add smooth fade transitions to modal dialogs
  src/components/dialog/SimpleDialog.astro
Labels: component

fix: Update AboutDialog content and improve header navigation links
  src/components/dialog/AboutDialog.astro
  src/components/dialog/SimpleDialog.astro
  src/components/layout/Header.astro
Labels: component

chore: Adds Vercel adapter
  .gitignore
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Labels: dependencies, configuration

feat: Add footer component with copyright information and styling
  src/components/layout/Footer.astro
  src/layout/Layout.astro
Labels: component

feat: Add HeaderAnimation component for hero section with Motion.js
  package.json
  pnpm-lock.yaml
  src/components/ui/HeaderAnimation.astro
  src/pages/index.astro
Labels: dependencies, component, page

feat: Add loading overlay component with progress animation
  package.json
  pnpm-lock.yaml
  src/components/portfolio/MasonryGrid.astro
  src/components/ui/HeaderAnimation.astro
  src/components/ui/LoadingOverlay.astro
  src/pages/index.astro
Labels: dependencies, component, page

feat: Implement Motion.js animation system for masonry grid
  src/scripts/masonryAnimations.js
Labels: script

feat: Add Lenis smooth scrolling integration with Motion.js coordination
  src/pages/index.astro
Labels: page

feat: Coordinate loading overlay with actual image loading progress
  src/components/ui/LoadingOverlay.astro
Labels: component

feat: Replace CSS animations with coordinated Motion.js masonry system
  src/components/portfolio/MasonryGrid.astro
Labels: component

feat: Enhance project navigation with back-to-top link and fixed positioning
  .gitignore
  src/pages/projects/[slug].astro
Labels: page, configuration

feat: Improve header functionality with responsive menu toggle and viewport handling
  src/components/layout/Header.astro
Labels: component

feat: Refactor header styles for improved layout and responsiveness; update project page for better navigation and mobile swipe hints
  src/components/layout/Header.astro
  src/pages/projects/[slug].astro
Labels: component, page

.github/labeler.yml:

# Label for CI/CD workflow changes
'CI/CD':
  - '.github/workflows/**'

# Label for documentation changes
documentation:
  - 'README.md'
  - 'src/pages/faq.astro'
  - 'src/pages/cookies-policy.astro'
  - 'src/pages/privacy-policy.astro'
  - 'src/pages/terms-and-conditions.astro'

# Label for dependency updates
dependencies:
  - 'package.json'
  - 'pnpm-lock.yaml'

# Label for component changes
component:
  - 'src/components/**'

# Label for page changes
page:
  - 'src/pages/**'

# Label for script changes
script:
  - 'src/scripts/**'

# Label for asset changes (images, videos, etc.)
asset:
  - 'public/**'
  - 'src/assets/**'

# Label for test-related changes
test:
  - 'playwright.config.ts'
  - 'tests/**'
  - 'tests-examples/**'

# Label for configuration changes
configuration:
  - '.gitignore'
  - 'astro.config.mjs'
  - 'tsconfig.json'
  - 'vercel.json'
  - '.vscode/**'
