Repository Lisbon-dev/lucinda-portfolio, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, documentation, dependencies, component, page, script, asset, test, configuration

fix: reduce header font max size to 40pt with responsive scaling
  src/layout/Layout.astro
Labels: none

style: Prevent category text from breaking across lines
  src/pages/index.astro
Labels: page

refactor: Remove interactive hover effects from category text
  src/pages/index.astro
Labels: page

feat: Add click/touch to pause controls for videos
  src/components/ui/OptimizedVideo.astro
Labels: component

fix: Add 20px spacing to project page navigation arrows
  src/pages/projects/[slug].astro
Labels: page

style: adjust font weights and navigation arrow positioning
  src/pages/index.astro
  src/pages/projects/[slug].astro
Labels: page

refactor: remove redundant main image from project images array
  src/content/projects/w-hotel-paris-sculpture.md
Labels: none

chore: update portfolio images for W Hotel
  src/assets/portfolio/whotel/W Hotel 7.png
  src/assets/portfolio/whotel/Whotel 8.png
Labels: asset

feat: implement Astro v5 view transitions with enhanced masonry animations
  astro.config.mjs
  src/layout/Layout.astro
  src/scripts/masonryAnimations.js
Labels: script, configuration

refactor: remove experimental view transitions flag in Astro config
  astro.config.mjs
Labels: configuration

feat: implement Astro v5 page transitions with JavaScript reinitialization
  src/components/layout/Header.astro
  src/components/ui/LoadingOverlay.astro
  src/layout/Layout.astro
  src/pages/index.astro
Labels: component, page

fix: resolve masonry grid image loading issues with Astro view transitions
  astro.config.mjs
  src/scripts/masonryAnimations.js
Labels: script, configuration

feat: implement Astro v5 page transitions for masonry grid
  astro.config.mjs
  src/components/portfolio/MasonryGrid.astro
  src/scripts/masonryAnimations.js
Labels: component, script, configuration

fix: Resolve mobile video crashes with improved event handling and retry logic
  src/components/ui/OptimizedVideo.astro
  src/pages/projects/[slug].astro
Labels: component, page

fix: Improve loading overlay and view transition coordination
  src/components/portfolio/MasonryGrid.astro
  src/components/ui/LoadingOverlay.astro
  src/layout/Layout.astro
  src/pages/index.astro
Labels: component, page

fix: Remove duplicate loading logic from MasonryGrid and restore proper event coordination
  src/components/portfolio/MasonryGrid.astro
Labels: component

refactor: Simplify MasonryGrid script and delegate animations to MasonryAnimations
  src/components/portfolio/MasonryGrid.astro
  src/scripts/masonryAnimations.js
Labels: component, script

docs: update about dialog with detailed artist biography and client list
  src/components/dialog/AboutDialog.astro
Labels: component

fix: improve loading overlay cache detection reliability
  src/components/ui/LoadingOverlay.astro
Labels: component

refactor: replace global function with custom events for loading progress
  src/components/ui/LoadingOverlay.astro
  src/scripts/masonryAnimations.js
Labels: component, script

fix: Resolve masonry grid scroll reveal and lazy loading issues
  src/scripts/masonryAnimations.js
Labels: script

refactor: Remove export statement for MasonryAnimations class
  src/scripts/masonryAnimations.js
Labels: script

refactor: Update AboutDialog to use headings for client and exhibition sections
  src/components/dialog/AboutDialog.astro
  src/pages/index.astro
Labels: component, page

fix: This ensures error messages remain visible until the user corrects the input, providing clearer feedback.
  src/components/forms/ContactForm.astro
Labels: component

feat: Add play/pause overlay to OptimizedVideo component
  src/components/ui/OptimizedVideo.astro
Labels: component

Feat: Add contact button to about dialog and style it
  src/components/dialog/AboutDialog.astro
  src/components/dialog/SimpleDialog.astro
  src/layout/Layout.astro
  src/pages/projects/[slug].astro
Labels: component, page

feat: Enhance contact form with success message and reset on close
  src/components/dialog/AboutDialog.astro
  src/components/dialog/SimpleDialog.astro
  src/components/forms/ContactForm.astro
  src/pages/index.astro
Labels: component, page

feat: Implement mobile swipe navigation and project counter
  src/pages/projects/[slug].astro
Labels: page

docs: Update homepage title and description for SEO
  src/pages/index.astro
Labels: page

feat: Improve contact form and dialog responsiveness and usability
  src/components/dialog/ContactDialog.astro
  src/components/dialog/SimpleDialog.astro
  src/components/forms/ContactForm.astro
Labels: component

feat: Enhance SimpleDialog component for improved UX and accessibility
  src/components/dialog/SimpleDialog.astro
Labels: component

refactor: Remove redundant CSS properties in SimpleDialog.astro
  src/components/dialog/SimpleDialog.astro
Labels: component

feat: enhance dialog scrolling and accessibility with improved event handling
  src/components/dialog/SimpleDialog.astro
  src/layout/Layout.astro
Labels: component

fix: resolve overflow-y scrolling interference with content area padding
  src/components/dialog/SimpleDialog.astro
Labels: component

feat: add desktop navigation arrows and improve project page responsiveness
  src/components/dialog/ContactDialog.astro
  src/components/dialog/SimpleDialog.astro
  src/pages/projects/[slug].astro
Labels: component, page

style: adjust dialog content vertical alignment to center
  src/components/dialog/SimpleDialog.astro
Labels: component

feat: add configurable content alignment for SimpleDialog
  src/components/dialog/SimpleDialog.astro
Labels: component

fix: adjust SimpleDialog padding to resolve content alignment issues
  src/components/dialog/SimpleDialog.astro
Labels: component

refactor: Fix flex container padding and scrolling behavior with pseudo-elements
  src/components/dialog/SimpleDialog.astro
Labels: component

refactor: remove focus handling for close button on dialog open
  src/components/dialog/SimpleDialog.astro
Labels: component

.github/labeler.yml:

# Label for CI/CD workflow changes
'CI/CD':
  - '.github/workflows/**'

# Label for documentation changes
documentation:
  - 'README.md'
  - 'src/pages/faq.astro'
  - 'src/pages/cookies-policy.astro'
  - 'src/pages/privacy-policy.astro'
  - 'src/pages/terms-and-conditions.astro'

# Label for dependency updates
dependencies:
  - 'package.json'
  - 'pnpm-lock.yaml'

# Label for component changes
component:
  - 'src/components/**'

# Label for page changes
page:
  - 'src/pages/**'

# Label for script changes
script:
  - 'src/scripts/**'

# Label for asset changes (images, videos, etc.)
asset:
  - 'public/**'
  - 'src/assets/**'

# Label for test-related changes
test:
  - 'playwright.config.ts'
  - 'tests/**'
  - 'tests-examples/**'

# Label for configuration changes
configuration:
  - '.gitignore'
  - 'astro.config.mjs'
  - 'tsconfig.json'
  - 'vercel.json'
  - '.vscode/**'
