Repository Lisbon-dev/lucinda-portfolio, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, documentation, dependencies, component, page, script, asset, test, configuration

refactor: Update W Hotel project files with corrected video and poster references
  src/assets/portfolio/whotel/W HOTEL PRESENTATION-poster.png
  src/content/projects/w-hotel-paris-brand.md
  src/content/projects/w-hotel-paris-sculpture.md
Labels: asset

feat: Add privacy policy and terms to sitemap
  src/pages/sitemap.xml.ts
Labels: page

docs: Update project descriptions with explanatory copy
  src/content/projects/battersea-power-station.md
  src/content/projects/beautiful-and-damned.md
  src/content/projects/born-exile.md
  src/content/projects/brew-dog.md
  src/content/projects/carlowrie-castle.md
  src/content/projects/federica-and-co.md
  src/content/projects/hamptons-collection.md
  src/content/projects/history-repeating.md
  src/content/projects/jazz-genius-cut-short.md
  src/content/projects/motcombs-london.md
  src/content/projects/pascal-huser-design-build.md
  src/content/projects/pessac-leognan.md
  src/content/projects/place-kings-road-exhibition.md
  src/content/projects/shadow-of-doubt.md
  src/content/projects/spectator-kate-naomi.md
  src/content/projects/suffer-little-children.md
  src/content/projects/w-hotel-paris-brand.md
  src/content/projects/w-hotel-paris-sculpture.md
Labels: none

feat(content): update project text and remove duplicate images per client feedback
  src/content/projects/motcombs-london.md
  src/content/projects/place-kings-road-exhibition.md
  src/content/projects/w-hotel-paris-sculpture.md
Labels: none

feat(styling): update layout and typography per client feedback
  src/components/portfolio/MasonryGrid.astro
  src/pages/index.astro
  src/pages/projects/[slug].astro
Labels: component, page

feat(ux): implement video autoplay, fix navigation, and add mobile two-tap interaction
  portfolio-filtering-feature.md
  src/components/portfolio/MasonryGrid.astro
  src/components/ui/OptimizedVideo.astro
  src/pages/projects/[slug].astro
Labels: component, page

feat(components): adjust mobile header, fix contact dialog, style form select
  src/components/dialog/ContactDialog.astro
  src/components/forms/ContactForm.astro
  src/components/layout/Header.astro
Labels: component

style: Align project hero typography with homepage
  src/pages/projects/[slug].astro
Labels: page

feat: Add project description to page and adjust padding
  src/pages/projects/[slug].astro
Labels: page

refactor: Add responsive typography variables and remove old media queries
  src/layout/Layout.astro
  src/pages/index.astro
  src/pages/projects/[slug].astro
Labels: page

style(design-system): update typography variables to use pt equivalents
  src/layout/Layout.astro
Labels: none

style: Improve project description layout
  src/pages/projects/[slug].astro
Labels: page

refactor: Consolidate typography variables and adjust font weights
  src/components/layout/Header.astro
  src/layout/Layout.astro
  src/pages/index.astro
  src/pages/projects/[slug].astro
Labels: component, page

refactor: Simplify typography system by removing component and using direct HTML
  src/components/layout/Header.astro
  src/layout/Layout.astro
  src/pages/index.astro
  src/pages/projects/[slug].astro
Labels: component, page

refactor: Update typography system and optimize font loading
  src/components/core/Typography.astro
  src/components/dialog/ContactDialog.astro
  src/components/dialog/SimpleDialog.astro
  src/components/forms/ContactForm.astro
  src/components/forms/FormField.astro
  src/components/layout/Footer.astro
  src/components/layout/Navigation.astro
  src/components/layout/SocialLinks.astro
  src/components/portfolio/MasonryGrid.astro
  src/components/portfolio/PortfolioGrid.astro
  src/components/ui/Button.astro
  src/components/ui/HeaderAnimation.astro
  src/components/ui/LoadingOverlay.astro
  src/layout/Layout.astro
  src/pages/index.astro
  src/pages/projects/[slug].astro
Labels: component, page

fix: Ensure mobile header is fully hidden at scroll 0
  src/components/layout/Header.astro
Labels: component

fix: Prevent header overlay and remove Typography component from legal pages
  src/pages/privacy.astro
  src/pages/terms.astro
Labels: page

fix: Ensure header does not overlay content on short viewports
  src/components/layout/Header.astro
  src/pages/index.astro
  src/pages/privacy.astro
  src/pages/terms.astro
Labels: component, page

fix: Improve iOS WebKit header visibility and scroll performance
  src/components/layout/Header.astro
Labels: component

perf: Optimize WebKit header animations and scroll listener
  src/components/layout/Header.astro
Labels: component

fix: Improve header slide animation smoothness and WebKit performance
  src/components/layout/Header.astro
Labels: component

fix: Improve iOS header animation and prevent flash on page navigation
  src/components/layout/Header.astro
  src/layout/Layout.astro
Labels: component

style: Refine header and project page spacing
  src/components/ui/HeaderAnimation.astro
  src/pages/index.astro
  src/pages/projects/[slug].astro
Labels: component, page

fix: Refine project page layout and spacing
  src/pages/projects/[slug].astro
Labels: page

fix: Implement responsive margins respecting client's 410px measurement
  src/pages/projects/[slug].astro
Labels: page

refactor: Improve project page CSS with design tokens and logical properties
  src/pages/projects/[slug].astro
Labels: page

feat: Add tablet landscape breakpoint to project page
  src/pages/projects/[slug].astro
Labels: page

refactor: Refactor responsive padding to use consistent 27.12% desktop margin
  src/pages/projects/[slug].astro
Labels: page

style: Adjust mobile header breakpoint and scroll threshold
  src/components/layout/Header.astro
Labels: component

refactor: Header component to fix mobile scroll and simplify logic
  src/components/layout/Header.astro
  src/layout/Layout.astro
Labels: component

fix: Implement robust iOS video autoplay and protect swipe navigation from zoom
  src/components/ui/OptimizedVideo.astro
  src/content/projects/w-hotel-paris-sculpture.md
  src/pages/projects/[slug].astro
Labels: component, page

fix: correctly resolve video asset paths in Astro build
  src/components/ui/OptimizedVideo.astro
  src/pages/projects/[slug].astro
Labels: component, page

fix: Refine swipe gestures and update project video format
  src/content/projects/w-hotel-paris-brand.md
  src/pages/projects/[slug].astro
Labels: page

refactor: Migrate video assets to public directory and streamline components
  src/components/ui/OptimizedVideo.astro
  src/content/projects/w-hotel-paris-sculpture.md
  src/pages/projects/[slug].astro
Labels: component, page

chore: Update W Hotel Paris sculpture video to webm format
  src/content/projects/w-hotel-paris-sculpture.md
Labels: none

feat: Add webm video formats for W Hotel Paris projects and update video paths in project markdowns
  src/content/projects/w-hotel-paris-brand.md
  src/content/projects/w-hotel-paris-sculpture.md
Labels: none

chore: Remove unused portfolio projects and assets
  removed/bimini-magazine.md
  removed/books-into-the-wild.md
  src/assets/portfolio/projects.md
  src/content/projects/history-repeating.md
Labels: asset

feat: Implement multi-step functionality for contact form
  src/components/forms/ContactForm.astro
Labels: component

fix: Prevent body scroll and adjust contact form height in dialog
  src/components/dialog/ContactDialog.astro
  src/components/forms/ContactForm.astro
Labels: component

fix: resolve Safari checkbox rendering issue with explicit dimensions
  src/components/forms/ContactForm.astro
Labels: component

.github/labeler.yml:

# Label for CI/CD workflow changes
'CI/CD':
  - '.github/workflows/**'

# Label for documentation changes
documentation:
  - 'README.md'
  - 'src/pages/faq.astro'
  - 'src/pages/cookies-policy.astro'
  - 'src/pages/privacy-policy.astro'
  - 'src/pages/terms-and-conditions.astro'

# Label for dependency updates
dependencies:
  - 'package.json'
  - 'pnpm-lock.yaml'

# Label for component changes
component:
  - 'src/components/**'

# Label for page changes
page:
  - 'src/pages/**'

# Label for script changes
script:
  - 'src/scripts/**'

# Label for asset changes (images, videos, etc.)
asset:
  - 'public/**'
  - 'src/assets/**'

# Label for test-related changes
test:
  - 'playwright.config.ts'
  - 'tests/**'
  - 'tests-examples/**'

# Label for configuration changes
configuration:
  - '.gitignore'
  - 'astro.config.mjs'
  - 'tsconfig.json'
  - 'vercel.json'
  - '.vscode/**'
